{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PythonApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'core/bootstrap/three/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="{% static 'core/bootstrap/four/css/bootstrap.min.css' %}" rel="stylesheet">




  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #99ccff;color: white">
        <a class="navbar-brand" href="{% url 'welcome' %}" style="color: white">PythonApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'welcome' %}" style="color: white">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'welcome' %}" style="color: white">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feed' %}" style="color: white">Feeds</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>


            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>

       <form action="{% url 'search' %}" class="d-flex" method="GET" style="align-content: right;">
                    <input name="q" class="form-control me-2" type="search" placeholder="FInd A Friend Here" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="color: white; background-color: #FCF66AFF;width:90px;">Search</button>
                  </form>

                  <ul class="navbar-nav ml-auto ml-md-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'logout' %}" style="color: #FCF66AFF">Logout</a>
                      </li>

                </ul>



        </div>
      </nav>



<body id="bg">





{% block body %}
{% endblock %}



<style>
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   height: 60px;
   width: 100%;
   background-color: #184a45;
   color: #fcf66a;
   text-align: center;
}
</style>



    <footer style="background-color: #8c8c8c;color: white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="widget">
                        <div class="foot-logo">
                            <div class="logo">
                                <a href="" title=""><img src="images/logo.png" alt=""></a>
                            </div>
                            <p>

                            </p>
                        </div>
                        <ul class="location">
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>&nbsp;&nbsp;&nbsp;Follow Us</h4></div>
                        <ul class="list-style" style="color: #184A45FF">
                            <li style="color: #184A45FF;"><i class="fa fa-facebook-f" ></i> <a style="color: #184A45FF;" href="https://fb.com/" title="">Facebook</a></li>
                            <li><i class="fa fa-twitter"></i><a style="color: #184A45FF;" href="https://twitter.com/" title="">Twitter</a></li>
                            <li><i class="fa fa-instagram"></i><a style="color: #184A45FF;" href="https://www.instagram.com/" title="">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>&nbsp;&nbsp;&nbsp;Navigate</h4></div>
                        <ul class="list-style" style="color: #184A45FF;">
                            <li><a href="" title="" style="color: #184A45FF;">About us</a></li>
                            <li><a href="" title="" style="color: #184A45FF;">Contact us</a></li>
                            <li><a href="" disabled title="" style="color: #184A45FF;">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>&nbsp;&nbsp;&nbsp;Desk Help</h4></div>
                        <ul class="list-style" style="color: #184A45FF;">
                            <li><a href="#" title="" style="color: #184A45FF;width:15px" class="">&#xe158;alokkaushal@gmail.com</a></li>
                            <li>
                                <a href="https://github.com/alok-kumar8765/About_me" title="" style="color: #184A45FF;" class="fa fa-github">Github</a>
                                <!--<a href="https://github.com/alok-kumar8765/About_me">-->
                                <!--  <img src="https://github.com/devicons/devicon/tree/master/icons/github/github-original.svg" style="color: #184A45FF;" alt="Gitlab Badge" width="40" height="40"/>-->
                                <!--</a>-->
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/alok-kumar-kaushal-a07402100/">
                                    <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white" style="color: #184A45FF;" alt="LinkedIn Badge"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer><!-- footer -->
    <div class="bottombar" style="background-color: Black;color: white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <center><p style="color: white">Python & Django 2023 &copy; All Right Reserved</p></center>

                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
